<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Galerie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .images {
            max-width: 350px;

        }

        .margin {
            margin-bottom: 20px;
        }
    </style>
</head>
<body style="background-image: url('../images/background/background.jpg'); background-repeat: no-repeat; background-size: cover" class="container">
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary position-sticky">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="main.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="galarie.html">Galarie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="video.html">Videos</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div>
    <div style="margin-top: 50px;" class="row margin">
        <div class="col-sm-12">
            <p style="color: white">Mehr Bilder finden Sie <a target="_blank" href="https://www.google.com/search?q=weisse+hai&hl=de&sxsrf=ALeKk03w3F_Y9Z0CQm9WQ7LMzK-4oO8pkg:1599603933527&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiDtfSBzdrrAhWM_KQKHV9tC1EQ_AUoAXoECCQQAw&biw=1920&bih=969">hier</a>.</p>
        </div>
    </div>
    <div class="row margin">
        <div class="col-md-4 col-sm-12">
            <img class="images" src="../images/1.jpg" alt="weisser-hai-1">
        </div>
        <div class="col-md-4 col-sm-12">
            <img class="images" src="../images/2.jpg" alt="weisser-hai-2">
        </div>
        <div class="col-md-4 col-sm-12">
            <img class="images" src="../images/3.jpg" alt="weisser-hai-3">
        </div>
    </div>

    <div class="row margin">
        <div class="col-md-4 col-sm-12">
            <img class="images" src="../images/4.jpg" alt="weisser-hai-4">
        </div>
        <div class="col-md-4 col-sm-12">
            <img class="images" src="../images/5.jpeg" alt="weisser-hai-5">
        </div>
        <div class="col-md-4 col-sm-12">
            <img class="images" src="../images/6.jpg" alt="weisser-hai-6">
        </div>
    </div>

    <div class="row margin">
        <div class="col-md-4 col-sm-12">
            <img class="images" src="../images/7.jpg" alt="weisser-hai-7">
        </div>
        <div class="col-md-4 col-sm-12">
            <img class="images" src="../images/8.jpg" alt="weisser-hai-8">
        </div>
        <div class="col-md-4 col-sm-12">
            <img class="images" src="../images/9.jpg" alt="weisser-hai-9">
        </div>
    </div>

</div>
</body>
</html>