<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modul 101</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        * {
            padding: 0px;
        }

        body {
            background-color: lightgray;
            color: rgb(60, 60, 60)
        }

        .background-white {
            background-color: white;
        }

        .title {
            background-color: #007bff !important;
            padding: 15px 30px;
            color: white;
        }

        .text {
            padding: 30px;
        }

        .top-offset {
            margin-top: 60px;
        }

        .footer {
            background-color: #007bff !important;
            position: relative;
            bottom: 0;
            width: 100%;
            height: 150px;

        }

        .no-gutter {
            margin-right: 0;
            margin-left: 0;
        }

    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Shark</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="main.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="galarie.html">Galarie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="video.html">Video</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--Main Page-->
    <div class="row top-offset no-gutter">
        <div class="col-sm-12 background-white" style="padding-left: 0 !important; padding-right: 0 !important;">
            <div class="title">
                <h4>Merkmale</h4>
            </div>
            <div class="text">
                <p>Der Weiße Hai gehört mit einer durchschnittlichen Länge von etwa vier Metern und einer maximalen
                    Länge von über sieben Metern zu den größten Haiarten. Die Weibchen werden deutlich größer als
                    die Männchen, die maximal etwa fünf Meter Länge erreichen. Das Gewicht kann bis zu dreieinhalb
                    Tonnen betragen.[1][2] Der Körper ist gedrungen spindelförmig mit konisch zulaufender, stumpf
                    endender Schnauze. Rücken und Flanken sind hellgrau bis bräunlich, seltener bläulich bis fast
                    schwarz und weisen gelegentlich einen kupfernen Schimmer auf.</p>

            </div>
        </div>
        <div class="col-sm-12 top-offset background-white" style="padding-left: 0 !important; padding-right: 0 !important;">
            <div class="title">
                <h4>Schwimmiweise und Physiologie</h4>
            </div>
            <div class="text">
                <p>Weiße Haie sind an eine thunniforme Schwimmweise angepasst, das heißt, die Schwanzflosse dient
                    als Hauptantrieb, während der Rumpf nahezu keine Schwingungen ausführt. Dies erlaubt sowohl
                    langsames, ausdauerndes Schwimmen bei hoher Energieeffizienz als auch sehr schnelles Schwimmen
                    auf kürzeren Strecken.</p>
                <p>Sie können diesen Artikel <a target="_blank" href="https://de.wikipedia.org/wiki/Wei%C3%9Fer_Hai">hier</a> weiterlesen.</p>

            </div>
        </div>
        <div class="col-sm-12 top-offset background-white" style="padding-left: 0 !important; padding-right: 0 !important;">
            <div class="title">
                <h4>Vorkommen</h4>
            </div>
            <div class="text">
                <p>Weiße Haie sind beinahe weltweit in allen Ozeanen und eingewandert im Mittelmeer[8][9] verbreitet.
                    Die Art fehlt in den kalten Gebieten um Arktis und Antarktis sowie im Schwarzen Meer und in der
                    Ostsee. Am häufigsten wird sie in küstennahen Gewässern der gemäßigten Zone im westlichen
                    Nordatlantik, dem Mittelmeer[10], vor den Südküsten Afrikas und Australiens sowie im östlichen
                    Nordpazifik gesichtet. In den Tropen ist die Art weit verbreitet, wird aber seltener angetroffen. Im
                    gesamten Verbreitungsgebiet ist der Weiße Hai eine eher seltene Fischart.[4][5]</p>

            </div>
        </div>
    </div>

    <!--Footer-->
    <div class="row top-offset">
        <div class="footer">
            <div class="col-md-6 col-sm-12">
                <ul>
                    <li style="color: white"><a style="color:white !important;" href="main.html">Home</a></li>
                    <li><a href="galarie.html">Galarie</a></li>
                    <li><a href="video.html">Video</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12">
                <p></p>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

</script>
</body>
</html>