<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modul 101</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        h1, h2, h3, p {
            color: white;
        }

    </style>
</head>
<body style="background-image: url('../images/background/background.jpg'); background-repeat: no-repeat; background-size: cover" class="container">
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="main.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="galarie.html">Galarie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="video.html">Videos</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Der Weisse Hai</h1>
            <p>Der Weiße Hai (Carcharodon carcharias), seltener auch als Weißhai oder Menschenhai bezeichnet, ist die einzige Art der Gattung Carcharodon aus der Familie der Makrelenhaie (Lamnidae). Der Trivialname bezieht sich auf die auffällig helle Bauchfärbung der Tiere. Die Art kommt fast weltweit vor und besiedelt bevorzugt gemäßigte Küstengewässer. Als die größte Haiart, die sich nicht von Plankton ernährt, ist der Weiße Hai der größte Raubfisch; er kann auch Menschen gefährlich werden. Er ist im gesamten Verbreitungsgebiet selten; heute gilt er durch Beifang in der kommerziellen Fischerei sowie gezielte Bejagung zum Gewinn von Trophäen als im Bestand bedroht.</p>
            <p>Sie können diesen Artikel <a target="_blank" href="https://de.wikipedia.org/wiki/Wei%C3%9Fer_Hai">hier</a> weiterlesen.</p>
        </div>
    </div>
</div>


<script type="text/javascript">

</script>
</body>
</html>